In [1]:
import pandas as pd

In [2]:
# toggle for writing to disk
write_tsv = True

In [3]:
!pwd

/private/home/dlicht/flores101_data/2021_09_human_eval_sample_building

In [4]:
# write_dir = "/private/home/dlicht/flores101_data/2021_09_human_eval_sample_building/"
write_dir = "/private/home/dlicht/fairseq-py/examples/nllb/human_eval_sample_generation/"

In [5]:
ls

'How to load FLORES data without PANDAS errors.ipynb'
'NLLB October FLORES sampling.ipynb'
'NLLB build Cross-Lingual Calibration Set v1.ipynb'
'daiquery-unique flores IDs-2021-09-08 11_00am.tsv'

In [6]:
# file generated here:  https://www.internalfb.com/intern/daiquery/workspace/155060566757113/604547777228513/
# source_incoherent already filtered out

filename = "/private/home/dlicht/fairseq-py/examples/nllb/human_eval_sample_generation/daiquery-Pull XSTS for Cross-Lingual Calibration Set-2021-09-09 4_02pm.tsv"
df_MT_XSTS = pd.read_csv(filename, 
                          delimiter='\t', header=0, quoting=3)

# df_F101_eng.index = df_F101_eng.index
# df_F101_eng.index.rename('FLORES_ID', inplace=True) 
# df_F101_eng['eng'] = df_F101_eng['eng'].str.replace('\"','').str.replace("\'",'')
df_MT_XSTS = df_MT_XSTS.sort_values('flores_id')
strip_characters = "[]\'"
df_MT_XSTS['source'] = df_MT_XSTS['source'].str.replace('\"\"\"','').str.strip(strip_characters)
df_MT_XSTS['target'] = df_MT_XSTS['target'].str.replace('\"\"\"','').str.strip(strip_characters)
print(df_MT_XSTS.loc[1].target)

Those driving in higher latitudes and over mountain passes should take into account the possibility of snow, ice and freezing temperatures.

In [7]:
for i in range(10):
    print(i, df_MT_XSTS.loc[i].target)

0 For example, I went to meet orangutans in Borneo to take photos and learn more.
1 Those driving in higher latitudes and over mountain passes should take into account the possibility of snow, ice and freezing temperatures.
2 "The two towers rise to a height of 83 meters, it's 378 meters long and it has two lanes of 3.50 m wide."
3 "One bomb exploded outside the governor general's office."
4 Their thermal behavior is not as steady as large caves on Earth that often maintain a fairly constant temperature, but it is consistent with these being deep holes in the ground," said Glen Cushing of the United States Geological Survey (USGS) Astrogeology Team and of Northern Arizona University located in Flagstaff, Arizona.
5 As the flashlight lighting at the time of the explosion is not like the current problem is not, victory is more common in cities and suburbs of university schools, which is more readily available than those built in cities.
6 In many cases, enrolling/starting a gap year abroad can improve your chances of making further progress in your studies when you return to your country of birth.
7 Distributors are the complete type of exchange, and employees on calling trains and their family names or job applicants.
8 Coaching is not a substitute for learning, but a support system that helps people facing a new learning experience, such as using a new computer program or starting a new job.
9 The patient was in Nigeria, where there have been several cases of the Ebola virus.

In [8]:
df_MT_XSTS

,model,flores_id,direction,source_dialect,target_dialect,dataset,quality_score,s_incoherence,annotator_id_count,source,target
3011,mm,1,jpn -> eng,jpn,eng,devtest,5,0,3,ノバスコシア州ハリファックスにあるダルハウジー大学医学部教授でカナダ糖尿病協会の臨床・科学部...,"Dr. Ehud Ull, a professor at the Medical Facul..."
10959,single,1,hau -> eng,hau,eng,devtest,4,0,3,"Dokta Ehud Ur, farfesan magani a Jami’ar Dalho...","Dr. Ehud Ur, a professor of medicine at Dalhou..."
136,human,1,hau -> eng,hau,eng,devtest,5,0,3,"Dokta Ehud Ur, farfesan magani a Jami’ar Dalho...","Dr. Ehud Ur, professor of medicine at Dalhousi..."
5252,single,1,ces -> eng,ces,eng,devtest,5,0,3,"Dr. Ehud Ur, profesor medicíny na Dalhousieově...","Dr. Ehud Ur, a professor of medicine at Dalhou..."
2559,single,1,jpn -> eng,jpn,eng,devtest,5,0,3,ノバスコシア州ハリファックスにあるダルハウジー大学医学部教授でカナダ糖尿病協会の臨床・科学部...,"Dr. Ehud Ul, a professor at Dalhousie Universi..."
...,...,...,...,...,...,...,...,...,...,...,...
6319,single,1011,deu -> eng,deu,eng,devtest,5,0,3,Oftmals müssen Arbeitnehmer für alle Entscheid...,"""Employees are often required to get approval ..."
809,single,1011,ces -> eng,ces,eng,devtest,5,0,3,Pracovníci musejí získat schválení nadřízených...,"""Workers must get approval from superiors for ..."
7930,mm,1011,isl -> eng,isl,eng,devtest,5,0,3,Starfsmenn verða oft að fá samþykki yfirmanns ...,Employees often need to get their boss’s appro...
9815,human,1011,hau -> eng,hau,eng,devtest,5,0,3,Dole ne ma’aikata su sami amincewar manyan su ...,"""Workers must often get their superiors' appro..."
5364,single,1011,rus -> eng,rus,eng,devtest,5,0,3,Обычно работники должны получить разрешение на...,"Usually, employees must obtain the permission ..."

In [9]:
df_MT_XSTS.columns

Index(['model', 'flores_id', 'direction', 'source_dialect', 'target_dialect',
       'dataset', 'quality_score', 's_incoherence', 'annotator_id_count',
       'source', 'target'],
      dtype='object')

In [10]:
df_MT_XSTS_eng = df_MT_XSTS[df_MT_XSTS['target_dialect'] == 'eng'][[
    'model', 'flores_id', 'source_dialect', 'target_dialect', 'quality_score', 'target',]]
df_MT_XSTS_eng = df_MT_XSTS_eng[df_MT_XSTS_eng['model'] != 'human']  # exclude the reference translations
df_MT_XSTS_eng = df_MT_XSTS_eng.sample(frac=1, replace=False)
df_MT_XSTS_eng

,model,flores_id,source_dialect,target_dialect,quality_score,target
3318,single,651,deu,eng,5,The crust is about 70 km thick on the near sid...
10337,single,45,isl,eng,5,"When asked, Miller said, ""Mike talks a lot dur..."
1825,mm,614,deu,eng,5,"Unfortunately, the study of traffic flows is d..."
9714,single,191,rus,eng,3,"Former House Speaker Newt Gingrich, Texas Gov...."
6736,single,691,ces,eng,5,"The appropriate use of blogs ""allows students ..."
...,...,...,...,...,...,...
7909,mm,655,isl,eng,4,These theories suggest that people have certai...
5414,single,284,rus,eng,4,He was initially admitted to the James Paget H...
6921,mm,669,hau,eng,5,When all the available assets are used by the ...
5864,mm,467,hau,eng,4,The sign “heaven” is similar to the V then “no...
10495,mm,990,isl,eng,5,Singapore is generally considered a safe city ...

### we dont' want to send the same item multiple times.  
Lets group by FLORES_ID and keep the item with the lowest qualty score

In [11]:
df_MT_XSTS_pool = df_MT_XSTS_eng.groupby(['flores_id']).min()
df_MT_XSTS_pool

,model,source_dialect,target_dialect,quality_score,target
flores_id,,,,,
1,mm,ces,eng,3,"According to Dr. Ehud Ur, a professor of medic..."
2,mm,ces,eng,5,"Like other experts, he doubts whether a cure c..."
4,mm,ces,eng,2,"""I\'m not doing anything right now,"" Danius sa..."
5,mm,ces,eng,3,"""Jamie Siminoff, Ring's chief executive, previ..."
6,mm,ces,eng,4,"He built a WiFi doorbell, he said."
...,...,...,...,...,...
1007,mm,ces,eng,1,Because these territories are sparsely populat...
1008,mm,ces,eng,3,Japanese work culture has a higher standard th...
1009,mm,ces,eng,3,"A businessman’s standard clothing is a suit, a..."
1010,mm,ces,eng,4,"Harmony in the workplace is crucial, with a fo..."
1011,mm,ces,eng,4,"""Employees are often required to get approval ..."

In [12]:
df_MT_XSTS_eng.groupby(['flores_id']).quality_score.idxmin()

flores_id
1        5865
2        2574
4        5883
5        9543
6        9545
        ...
1007    10317
1008     9542
1009     9523
1010     1114
1011     3310
Name: quality_score, Length: 630, dtype: int64

In [13]:
df_MT_XSTS_eng.loc[df_MT_XSTS_eng.groupby(['flores_id']).quality_score.idxmin()]

,model,flores_id,source_dialect,target_dialect,quality_score,target
5865,mm,1,hau,eng,3,"Dr. Ehud Ur, a professor of medicine at the Da..."
2574,single,2,hau,eng,5,"Like some experts, he is sceptical about wheth..."
5883,mm,4,ces,eng,2,Danius said: “Right now we’re not doing anythi...
9543,mm,5,ces,eng,3,"Jamie Siminoff, the Ring’s chief executive off..."
9545,mm,6,ces,eng,4,He said he made a doorbell over WiFi.
...,...,...,...,...,...,...
10317,mm,1007,hau,eng,1,"If you are looking for a place to stay, you wi..."
9542,single,1008,ces,eng,3,Japanese work culture is more hierarchical and...
9523,mm,1009,isl,eng,3,Costumes are a traditional business garment an...
1114,mm,1010,jpn,eng,4,"Workplace harmony is very important, which is ..."
3310,mm,1011,hau,eng,4,Employees should receive the approval of their...

In [14]:
N = 200
scores = sorted(df_MT_XSTS_eng['quality_score'].unique())

df_target = pd.DataFrame()
missing_items = {}

for score in scores:
    print(score)
    
    df_MT_XSTS_pool = df_MT_XSTS_eng[df_MT_XSTS_eng['quality_score'] == score]
    df_pool = df_MT_XSTS_pool.sample(frac=1, replace=False).groupby(['flores_id']).first()
    if df_pool.shape[0] >= 200:
        df_Q_sample = df_pool.sample(n=200, replace=False)
    else: df_Q_sample = df_pool
    df_Q_sample.sort_values('flores_id', inplace=True)
    display(df_Q_sample.shape)
    display(df_Q_sample)
    missing_items[score] = N - df_Q_sample.shape[0]
    df_target = df_target.append(df_Q_sample)
df_target['quality_source'] = 'FLORES_XSTS_2021_08'

1

(34, 5)

,model,source_dialect,target_dialect,quality_score,target
flores_id,,,,,
31,mm,hau,eng,1,"For example, if you’re looking for a sewing ma..."
111,mm,hau,eng,1,‘The pedestrians said the sign of the car for ...
136,mm,hau,eng,1,Pudding off cups succeeded to turn off the wat...
144,mm,hau,eng,1,This will not be a dreadful day. This is the c...
156,mm,hau,eng,1,Universities in Amsterdam and the Anne Frank M...
253,mm,hau,eng,1,A single bam has gone to the office of the off...
274,mm,isl,eng,1,"The former was in a fraud, as she did not fini..."
278,mm,hau,eng,1,"D. K. Arya, assistant to Sufeto General said, ..."
338,mm,hau,eng,1,"If you’re looking for a car, you’ll be able to..."
349,mm,hau,eng,1,"If you are looking for a place to stay, you wi..."
357,mm,hau,eng,1,It is a great place to explore and explore. It...
362,mm,hau,eng,1,Zakaun is the voice of the wise men who transa...
382,mm,hau,eng,1,"It is a great place to go to the beach, and it..."
397,mm,hau,eng,1,"There is no big tax in the land of Canaan, so ..."
410,mm,hau,eng,1,"I am not the only one, but I am the only one, ..."
413,mm,hau,eng,1,"For example, if you want to make a purchase, y..."
439,mm,hau,eng,1,His mother-in-law has washed everyone from the...
443,mm,hau,eng,1,If you are interested in our products or servi...
452,mm,hau,eng,1,"In the past few years, there has been a signif..."
519,mm,hau,eng,1,"For example, “crowdfunding” and “crowdfunding”..."
522,mm,hau,eng,1,"Specifically as well as, it is a document that..."
576,mm,isl,eng,1,"Their legs have a hammer and clothes, they wra..."
588,mm,hau,eng,1,"If you are not in a relationship, you are not ..."
642,mm,hau,eng,1,"For example, if you’re looking for a computer,..."
644,mm,hau,eng,1,"The windshield, whilst the new text patterns w..."
693,mm,hau,eng,1,"It is a great place to visit, and it is a grea..."
734,mm,hau,eng,1,"Pigs are not just pigs, but pigs are not just ..."
790,mm,hau,eng,1,The airport is the largest airport in the worl...
817,mm,hau,eng,1,It is a great place to go to the mountains of ...
842,mm,isl,eng,1,The stands are supported by buttons that hang ...
855,mm,hau,eng,1,Take into consideration the way of the game th...
938,mm,hau,eng,1,The Maldivian Republic is a tribe and a number...
961,mm,hau,eng,1,"If you are in Paris, you will be able to visit..."
1007,mm,hau,eng,1,"If you are looking for a place to stay, you wi..."

2

(200, 5)

,model,source_dialect,target_dialect,quality_score,target
flores_id,,,,,
4,mm,ces,eng,2,Danius said: “Right now we’re not doing anythi...
26,mm,isl,eng,2,Turkey would also accept keeping guard for ISI...
30,mm,isl,eng,2,Since the dinosaur pairs have an underdevelope...
31,mm,jpn,eng,2,"From the structure of the feathers, it is assu..."
32,mm,isl,eng,2,The researchers concluded that although this i...
...,...,...,...,...,...
974,mm,isl,eng,2,This facilitates reading but complicates writi...
981,mm,hau,eng,2,"""However, people who can't catch a cat are ver..."
989,single,isl,eng,2,"If you visit a botanical garden and take a ""le..."
994,single,hau,eng,2,An indoor pool can be a good theme to base a h...
1003,mm,isl,eng,2,"Due to the distance from the mainland, mammals..."

3

(200, 5)

,model,source_dialect,target_dialect,quality_score,target
flores_id,,,,,
1,mm,hau,eng,3,"Dr. Ehud Ur, a professor of medicine at the Da..."
4,mm,hau,eng,3,"Danius said, “So now it’s not time to make a c..."
5,mm,ces,eng,3,"Jamie Siminoff, the Ring’s chief executive off..."
14,mm,isl,eng,3,We agree with the USOC’s statement that the in...
15,mm,isl,eng,3,USA Gymnastics supports independent research t...
...,...,...,...,...,...
985,single,ces,eng,3,"Cherry blossom viewing, known as hanami, has b..."
988,mm,jpn,eng,3,Plants thrive most when they are in their natu...
993,mm,ces,eng,3,Check that your intended bus is going to Hebro...
994,mm,isl,eng,3,Changing waterways are an interesting option f...
1009,mm,isl,eng,3,Costumes are a traditional business garment an...

4

(200, 5)

,model,source_dialect,target_dialect,quality_score,target
flores_id,,,,,
1,single,hau,eng,4,"Dr. Ehud Ur, a professor of medicine at Dalhou..."
4,single,hau,eng,4,"""Right now, it\'s not enough,"" Danius said. ""I..."
6,single,rus,eng,4,He said he had created a doorbell powered by W...
12,mm,hau,eng,4,"Here is the PALM test, ZMapp serves to control..."
13,single,hau,eng,4,U.S. Figure Skating supports the letter from t...
...,...,...,...,...,...
994,mm,hau,eng,4,Indoor hydroponics can be a great way to set u...
1001,mm,hau,eng,4,Traditional churches often hold Easter Vigil o...
1002,single,hau,eng,4,All the animals arrived on their islands of or...
1008,mm,rus,eng,4,Japanese work culture is more hierarchical and...
1011,mm,hau,eng,4,Employees should receive the approval of their...

5

(200, 5)

,model,source_dialect,target_dialect,quality_score,target
flores_id,,,,,
1,mm,rus,eng,5,"According to Dr. Ehud Ur, a professor of medic..."
2,single,ces,eng,5,"Like some other experts, he is sceptical about..."
6,single,deu,eng,5,He said that he had built a Wi-Fi doorbell.
7,mm,deu,eng,5,Siminoff said sales rose sharply after his app...
14,mm,jpn,eng,5,We agree with the USOC’s statement that making...
...,...,...,...,...,...
974,single,rus,eng,5,"It also probably makes reading easier, while w..."
985,single,deu,eng,5,"Cherry blossom viewing, known as hanami, has b..."
988,mm,rus,eng,5,"Plants look best in their natural habitat, so ..."
1000,mm,ces,eng,5,"There are, of course, Christian theological ex..."
1002,mm,rus,eng,5,All the animals that originally arrived on the...

In [15]:
df_target.groupby('quality_score').count()

               model  source_dialect  target_dialect  target  quality_source
quality_score
1                 34              34              34      34              34
2                200             200             200     200             200
3                200             200             200     200             200
4                200             200             200     200             200
5                200             200             200     200             200

In [16]:
print(missing_items)
df_target

{1: 166, 2: 0, 3: 0, 4: 0, 5: 0}

,model,source_dialect,target_dialect,quality_score,target,quality_source
flores_id,,,,,,
31,mm,hau,eng,1,"For example, if you’re looking for a sewing ma...",FLORES_XSTS_2021_08
111,mm,hau,eng,1,‘The pedestrians said the sign of the car for ...,FLORES_XSTS_2021_08
136,mm,hau,eng,1,Pudding off cups succeeded to turn off the wat...,FLORES_XSTS_2021_08
144,mm,hau,eng,1,This will not be a dreadful day. This is the c...,FLORES_XSTS_2021_08
156,mm,hau,eng,1,Universities in Amsterdam and the Anne Frank M...,FLORES_XSTS_2021_08
...,...,...,...,...,...,...
974,single,rus,eng,5,"It also probably makes reading easier, while w...",FLORES_XSTS_2021_08
985,single,deu,eng,5,"Cherry blossom viewing, known as hanami, has b...",FLORES_XSTS_2021_08
988,mm,rus,eng,5,"Plants look best in their natural habitat, so ...",FLORES_XSTS_2021_08
1000,mm,ces,eng,5,"There are, of course, Christian theological ex...",FLORES_XSTS_2021_08
1002,mm,rus,eng,5,All the animals that originally arrived on the...,FLORES_XSTS_2021_08

In [17]:
missing_items[1]

166

# Supliment the missing XSTS 1's
## With into English Translations through models known to be of poor quality

In [18]:
Languages_names = ['Fulah','Ganda','Somali','Lingala','Northern Sotho']
# https://docs.google.com/spreadsheets/d/1HzFfH-QddvrvIwKzaI9juDMJrZMmrQOkiGfnwpwIzMU/edit#gid=0
# sampled from BLEU < 8
# these were mostly african languages, mri, nep, luo all had errors which blocked generation (probably tokenization?)

LANG3_list = [
    'ful',
    'lug',
    'som',
    # 'mri',
    # 'luo',
    # 'pan',  # probably too good for this, pick lower BLEU than this one
    # 'nep',

    'lin',
#     'kan',  # 'Kannada' is a wreck.  Outputs are mostly arabic, bible and vegetables
    'nso',
]

LANG2_list = [
    'ff',
    'lg',
    'so',
    # 'mi',
    # 'luo',
    # 'pa',
    # 'ne',

    'ln',
#     'kn',
    'ns',
]

In [19]:
df_SUR_into_EN = pd.DataFrame()

for L_key in zip(LANG2_list,LANG3_list):
    L2 = L_key[0]
    L3 = L_key[1]

    # Load the into_EN translations from the surrigate model(s)
    filename_eng = f"/private/home/dlicht/flores101_data/m2m100_generations/{L2}_en_beam4.hyp"
    df_MT_into_EN = pd.read_csv(filename_eng, 
                              delimiter='\t', header=None, names=['target'], quoting=3)
    df_MT_into_EN.index.rename('flores_id', inplace=True) 
#     df_MT_into_EN.reset_index(inplace=True)
    df_MT_into_EN['model'] = 'm2m100'
    df_MT_into_EN['source_dialect'] = L3
    df_MT_into_EN['target_dialect'] = 'eng'
    df_MT_into_EN['quality_source'] = 'Surrogate low-BLEU m2m model'
    df_MT_into_EN['quality_score'] = 1   #not really, but we're subsituting for those so this will help with later grouping
    
    print(df_MT_into_EN.shape, "shape of imported translation set -",L2)
    # df_MT_into_EN

    # Throw out common duplicated nonsense within a language set
    # actually, this reduced duplicated items to a single occurance, it does not eliminate them completely
    df_MT_into_EN_DD = df_MT_into_EN.sample(frac=1, replace=False).drop_duplicates(subset=['target'], keep='first') # keep = False to eliminate them
    
    df_SUR_into_EN = df_SUR_into_EN.append(df_MT_into_EN_DD)
    display(df_MT_into_EN_DD)

(1012, 6) shape of imported translation set - ff

,target,model,source_dialect,target_dialect,quality_source,quality_score
flores_id,,,,,,
982,Baabalji jamanu is the name of a group of peop...,m2m100,ful,eng,Surrogate low-BLEU m2m model,1
194,Ames Straw is a member of Ames Straw group . A...,m2m100,ful,eng,Surrogate low-BLEU m2m model,1
504,Those who do not know the meaning of the meani...,m2m100,ful,eng,Surrogate low-BLEU m2m model,1
983,Chennai Madurai Salem Delhi Mumbai Pune Bhopal,m2m100,ful,eng,Surrogate low-BLEU m2m model,1
310,Rolando Mendoza fidi M16 mako has a long coat .,m2m100,ful,eng,Surrogate low-BLEU m2m model,1
...,...,...,...,...,...,...
341,Kannge or irin toi be huwan dow mai be wailita...,m2m100,ful,eng,Surrogate low-BLEU m2m model,1
167,"ASUS Eee PC , download download download downl...",m2m100,ful,eng,Surrogate low-BLEU m2m model,1
5,"This time , CEO Ring , Jamie Siminoff , we cam...",m2m100,ful,eng,Surrogate low-BLEU m2m model,1
541,No Tibetan Buddhism woona koidum. do mari kund...,m2m100,ful,eng,Surrogate low-BLEU m2m model,1
559,Crossties vurti neobhai sossai hequr joga kuje...,m2m100,ful,eng,Surrogate low-BLEU m2m model,1

(1012, 6) shape of imported translation set - lg

,target,model,source_dialect,target_dialect,quality_source,quality_score
flores_id,,,,,,
239,Mr. Giancarlo Fisichella was born on the east ...,m2m100,lug,eng,Surrogate low-BLEU m2m model,1
523,"Oliver Sacks , a writer and humanitarian activ...",m2m100,lug,eng,Surrogate low-BLEU m2m model,1
955,The language of Barcelona is Catalan and Spani...,m2m100,lug,eng,Surrogate low-BLEU m2m model,1
107,"A farmhouse in Pittsburgh , Pennsylvania , sel...",m2m100,lug,eng,Surrogate low-BLEU m2m model,1
880,"If ye know that he is righteous , ye know that...",m2m100,lug,eng,Surrogate low-BLEU m2m model,1
...,...,...,...,...,...,...
574,People who suffer from severe heart disease or...,m2m100,lug,eng,Surrogate low-BLEU m2m model,1
262,"I am in trrrooooouuub , I am in trrrooooouuub",m2m100,lug,eng,Surrogate low-BLEU m2m model,1
291,"Palestinian refugees , including Palestinians ...",m2m100,lug,eng,Surrogate low-BLEU m2m model,1
732,The Sundarbans are a group of birds that live ...,m2m100,lug,eng,Surrogate low-BLEU m2m model,1
717,"As a child , "" Timbuktu "" is considered to be ...",m2m100,lug,eng,Surrogate low-BLEU m2m model,1

(1012, 6) shape of imported translation set - so

,target,model,source_dialect,target_dialect,quality_source,quality_score
flores_id,,,,,,
553,"If they were not , then they would have been t...",m2m100,som,eng,Surrogate low-BLEU m2m model,1
774,"And they will be in the midst of the sea , and...",m2m100,som,eng,Surrogate low-BLEU m2m model,1
262,"Do not let them know what they have done , for...",m2m100,som,eng,Surrogate low-BLEU m2m model,1
712,"Goma is a town in the province of Kongo , loca...",m2m100,som,eng,Surrogate low-BLEU m2m model,1
316,He is the one who gives life to those whom He ...,m2m100,som,eng,Surrogate low-BLEU m2m model,1
...,...,...,...,...,...,...
97,Dr. Tony Moll in the South African province of...,m2m100,som,eng,Surrogate low-BLEU m2m model,1
749,"As a result of this , it is not necessary to m...",m2m100,som,eng,Surrogate low-BLEU m2m model,1
698,"He is the righteous one , and the righteous on...",m2m100,som,eng,Surrogate low-BLEU m2m model,1
903,"The South Shetland Papers , found in 1819 , ar...",m2m100,som,eng,Surrogate low-BLEU m2m model,1
542,"When you do Kundalini Yoga , the so-called Kun...",m2m100,som,eng,Surrogate low-BLEU m2m model,1

(1012, 6) shape of imported translation set - ln

,target,model,source_dialect,target_dialect,quality_source,quality_score
flores_id,,,,,,
648,There is no such thing as an atomic nucleus in...,m2m100,lin,eng,Surrogate low-BLEU m2m model,1
792,This Privacy Policy is only applicable to the ...,m2m100,lin,eng,Surrogate low-BLEU m2m model,1
71,Prime Minister Stephen Harper issued a letter ...,m2m100,lin,eng,Surrogate low-BLEU m2m model,1
687,This blog is dedicated to all kinds of childre...,m2m100,lin,eng,Surrogate low-BLEU m2m model,1
595,Greek philosophy is the basis of the ancient G...,m2m100,lin,eng,Surrogate low-BLEU m2m model,1
...,...,...,...,...,...,...
3,"Sara Danius , Swedish Nobel Prize winner and S...",m2m100,lin,eng,Surrogate low-BLEU m2m model,1
167,"ASUS Eee PC , which launched the world 's firs...",m2m100,lin,eng,Surrogate low-BLEU m2m model,1
627,May 20 in the middle of a planetary cluster wi...,m2m100,lin,eng,Surrogate low-BLEU m2m model,1
808,There are many different kinds of safaris arou...,m2m100,lin,eng,Surrogate low-BLEU m2m model,1
447,There are several different kinds of people wh...,m2m100,lin,eng,Surrogate low-BLEU m2m model,1

(1012, 6) shape of imported translation set - ns

,target,model,source_dialect,target_dialect,quality_source,quality_score
flores_id,,,,,,
816,It is added to the top of the mountains for ¥ ...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1
595,"Unless Greek is more sophisticated , Greek phi...",m2m100,nso,eng,Surrogate low-BLEU m2m model,1
2,"In some cases , it is commonly diagnosed with ...",m2m100,nso,eng,Surrogate low-BLEU m2m model,1
116,Cucumbers Zucchini Summer Squash Carrots Kale ...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1
934,It is not subject to phase-by-phase : as a mem...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1
...,...,...,...,...,...,...
540,Tibetan Buddhism is one of the greatest religi...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1
770,Boemakepe has been a member of the world 's la...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1
127,Many Balinese mountains are drawn to the outsk...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1
630,Egyptians have a Push-of-the-Ntshwa status as ...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1
180,Tattoos can be found in Ellis Park in Johannes...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1

In [20]:
df_SUR_into_EN.groupby('source_dialect').count()

                target  model  target_dialect  quality_source  quality_score
source_dialect
ful                939    939             939             939            939
lin                953    953             953             953            953
lug                722    722             722             722            722
nso                943    943             943             943            943
som                759    759             759             759            759

In [21]:
df_SUR_into_EN

,target,model,source_dialect,target_dialect,quality_source,quality_score
flores_id,,,,,,
982,Baabalji jamanu is the name of a group of peop...,m2m100,ful,eng,Surrogate low-BLEU m2m model,1
194,Ames Straw is a member of Ames Straw group . A...,m2m100,ful,eng,Surrogate low-BLEU m2m model,1
504,Those who do not know the meaning of the meani...,m2m100,ful,eng,Surrogate low-BLEU m2m model,1
983,Chennai Madurai Salem Delhi Mumbai Pune Bhopal,m2m100,ful,eng,Surrogate low-BLEU m2m model,1
310,Rolando Mendoza fidi M16 mako has a long coat .,m2m100,ful,eng,Surrogate low-BLEU m2m model,1
...,...,...,...,...,...,...
540,Tibetan Buddhism is one of the greatest religi...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1
770,Boemakepe has been a member of the world 's la...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1
127,Many Balinese mountains are drawn to the outsk...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1
630,Egyptians have a Push-of-the-Ntshwa status as ...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1
180,Tattoos can be found in Ellis Park in Johannes...,m2m100,nso,eng,Surrogate low-BLEU m2m model,1

In [22]:
df_target

,model,source_dialect,target_dialect,quality_score,target,quality_source
flores_id,,,,,,
31,mm,hau,eng,1,"For example, if you’re looking for a sewing ma...",FLORES_XSTS_2021_08
111,mm,hau,eng,1,‘The pedestrians said the sign of the car for ...,FLORES_XSTS_2021_08
136,mm,hau,eng,1,Pudding off cups succeeded to turn off the wat...,FLORES_XSTS_2021_08
144,mm,hau,eng,1,This will not be a dreadful day. This is the c...,FLORES_XSTS_2021_08
156,mm,hau,eng,1,Universities in Amsterdam and the Anne Frank M...,FLORES_XSTS_2021_08
...,...,...,...,...,...,...
974,single,rus,eng,5,"It also probably makes reading easier, while w...",FLORES_XSTS_2021_08
985,single,deu,eng,5,"Cherry blossom viewing, known as hanami, has b...",FLORES_XSTS_2021_08
988,mm,rus,eng,5,"Plants look best in their natural habitat, so ...",FLORES_XSTS_2021_08
1000,mm,ces,eng,5,"There are, of course, Christian theological ex...",FLORES_XSTS_2021_08
1002,mm,rus,eng,5,All the animals that originally arrived on the...,FLORES_XSTS_2021_08

In [23]:
df_target_sup_items = df_SUR_into_EN.sample(n=missing_items[1], replace=False)
df_target_sup_items

,target,model,source_dialect,target_dialect,quality_source,quality_score
flores_id,,,,,,
22,"He is the one who gives the best of the best ,...",m2m100,som,eng,Surrogate low-BLEU m2m model,1
157,There are many different kinds of people in th...,m2m100,lin,eng,Surrogate low-BLEU m2m model,1
102,"The Saterleed River , which covers approximate...",m2m100,som,eng,Surrogate low-BLEU m2m model,1
576,"Based on this , you will be able to compete ag...",m2m100,lin,eng,Surrogate low-BLEU m2m model,1
1001,There are many churches in this area where peo...,m2m100,lug,eng,Surrogate low-BLEU m2m model,1
...,...,...,...,...,...,...
960,There is no such thing as being a child in a p...,m2m100,lin,eng,Surrogate low-BLEU m2m model,1
552,"Ha wakkati gotel , soja dyam je Germany , be k...",m2m100,ful,eng,Surrogate low-BLEU m2m model,1
963,"There are also many species of birds , includi...",m2m100,nso,eng,Surrogate low-BLEU m2m model,1
123,"Laaƴowo waagon man , mo duele maako 64 , nauna...",m2m100,ful,eng,Surrogate low-BLEU m2m model,1
677,Do not forget that I have given you a great de...,m2m100,som,eng,Surrogate low-BLEU m2m model,1

In [24]:
df_target_sup_items.groupby('source_dialect').count()

                target  model  target_dialect  quality_source  quality_score
source_dialect
ful                 33     33              33              33             33
lin                 40     40              40              40             40
lug                 21     21              21              21             21
nso                 30     30              30              30             30
som                 42     42              42              42             42

In [25]:
# note the surrogate sample size is inserted here
df_target_plus = pd.concat([df_target,df_target_sup_items])
df_target_plus

,model,source_dialect,target_dialect,quality_score,target,quality_source
flores_id,,,,,,
31,mm,hau,eng,1,"For example, if you’re looking for a sewing ma...",FLORES_XSTS_2021_08
111,mm,hau,eng,1,‘The pedestrians said the sign of the car for ...,FLORES_XSTS_2021_08
136,mm,hau,eng,1,Pudding off cups succeeded to turn off the wat...,FLORES_XSTS_2021_08
144,mm,hau,eng,1,This will not be a dreadful day. This is the c...,FLORES_XSTS_2021_08
156,mm,hau,eng,1,Universities in Amsterdam and the Anne Frank M...,FLORES_XSTS_2021_08
...,...,...,...,...,...,...
960,m2m100,lin,eng,1,There is no such thing as being a child in a p...,Surrogate low-BLEU m2m model
552,m2m100,ful,eng,1,"Ha wakkati gotel , soja dyam je Germany , be k...",Surrogate low-BLEU m2m model
963,m2m100,nso,eng,1,"There are also many species of birds , includi...",Surrogate low-BLEU m2m model
123,m2m100,ful,eng,1,"Laaƴowo waagon man , mo duele maako 64 , nauna...",Surrogate low-BLEU m2m model
677,m2m100,som,eng,1,Do not forget that I have given you a great de...,Surrogate low-BLEU m2m model

## JOIN in original English FLORES References

In [26]:
filename_eng = "/private/home/dlicht/flores101_data/FLORES_devtest/eng.devtest"
df_F101_eng = pd.read_csv(filename_eng, 
                          delimiter='\t', header=None, names=['eng'], quoting=3)

df_F101_eng.index = df_F101_eng.index
df_F101_eng.index.rename('flores_id', inplace=True) 
# df_F101_eng['eng'] = df_F101_eng['eng'].str.replace('\"','').str.replace("\'",'')
df_F101_eng

                                                         eng
flores_id
0          "We now have 4-month-old mice that are non-dia...
1          Dr. Ehud Ur, professor of medicine at Dalhousi...
2          Like some other experts, he is skeptical about...
3          On Monday, Sara Danius, permanent secretary of...
4          Danius said, "Right now we are doing nothing. ...
...                                                      ...
1007       As the areas are sparsely populated, and light...
1008       Japanese work culture is more hierarchical and...
1009       Suits are standard business attire, and cowork...
1010       Workplace harmony is crucial, emphasizing grou...
1011       Workers must often get their superiors' approv...

[1012 rows x 1 columns]

In [27]:
df_built = df_target_plus.merge(df_F101_eng, on='flores_id', how='inner')
df_built.reset_index(inplace=True)
df_built

,flores_id,model,source_dialect,target_dialect,quality_score,target,quality_source,eng
0,31,mm,hau,eng,1,"For example, if you’re looking for a sewing ma...",FLORES_XSTS_2021_08,The feathers' structure suggests that they wer...
1,31,mm,jpn,eng,2,"From the structure of the feathers, it is assu...",FLORES_XSTS_2021_08,The feathers' structure suggests that they wer...
2,31,mm,isl,eng,3,The composition of the feathers suggests that ...,FLORES_XSTS_2021_08,The feathers' structure suggests that they wer...
3,31,single,isl,eng,5,The composition of the feathers suggests they ...,FLORES_XSTS_2021_08,The feathers' structure suggests that they wer...
4,111,mm,hau,eng,1,‘The pedestrians said the sign of the car for ...,FLORES_XSTS_2021_08,Police said that the body appeared to have bee...
...,...,...,...,...,...,...,...,...
995,107,m2m100,som,eng,1,""" They are the ones who are the ones who are t...",Surrogate low-BLEU m2m model,A doctor who worked at Children's Hospital of ...
996,899,m2m100,som,eng,1,"You can see the shadows of the mountains , and...",Surrogate low-BLEU m2m model,You can see the pyramids in the dark and you c...
997,960,m2m100,lin,eng,1,There is no such thing as being a child in a p...,Surrogate low-BLEU m2m model,While this is often only an inaccurate stereot...
998,963,m2m100,nso,eng,1,"There are also many species of birds , includi...",Surrogate low-BLEU m2m model,It has a notably wide variety of plant communi...
999,677,m2m100,som,eng,1,Do not forget that I have given you a great de...,Surrogate low-BLEU m2m model,This provides us with a lot of information and...

## reformat to match other sample columns

In [28]:
df_built.columns

Index(['flores_id', 'model', 'source_dialect', 'target_dialect',
       'quality_score', 'target', 'quality_source', 'eng'],
      dtype='object')

In [29]:
# columns from sample notebook
# ['FLORES_ID', 'fbid', 'sentence1_lang', 'sentence2_lang', 'sentence1',
#        'sentence2', 'model', 'direction', 'dataset']

df_built.rename(columns={'flores_id':'FLORES_ID',
                         'eng':'sentence1',
                         'target':'sentence2',
                         'source_dialect':'backtranslation_lang',
                         'target_dialect':'sentence2_lang',
                         'quality_score':'sampled_quality_score',
                        }, inplace=True)
df_built['sentence1_lang'] = 'eng'
df_built['dataset'] = 'Cross_Lingual_Calibration'
df_built.sample()

,FLORES_ID,model,backtranslation_lang,sentence2_lang,sampled_quality_score,sentence2,quality_source,sentence1,sentence1_lang,dataset
872,316,single,deu,eng,5,"While working at the hospital, Liggins began r...",FLORES_XSTS_2021_08,While he was working at the hospital Liggins b...,eng,Cross_Lingual_Calibration

In [30]:
print(df_built.columns)
df_built = df_built[['FLORES_ID','sentence1_lang', 'sentence2_lang', 'sentence1', 'sentence2',
           'model', 'dataset',
           'backtranslation_lang','sampled_quality_score', 'quality_source',
       ]]
df_built.set_index('FLORES_ID', inplace=True)

# randomize order
df_built = df_built.sample(frac=1, replace=False)
df_built

Index(['FLORES_ID', 'model', 'backtranslation_lang', 'sentence2_lang',
       'sampled_quality_score', 'sentence2', 'quality_source', 'sentence1',
       'sentence1_lang', 'dataset'],
      dtype='object')

,sentence1_lang,sentence2_lang,sentence1,sentence2,model,dataset,backtranslation_lang,sampled_quality_score,quality_source
FLORES_ID,,,,,,,,,
882,eng,eng,Books and magazines dealing with wilderness su...,Libraries and magazines dealing with life even...,mm,Cross_Lingual_Calibration,hau,2,FLORES_XSTS_2021_08
229,eng,eng,Potro received treatment to his shoulder at th...,"At this point, Potro gained enthusiasm because...",mm,Cross_Lingual_Calibration,isl,2,FLORES_XSTS_2021_08
180,eng,eng,The final match of the series will take place ...,The final of the tournament will be held next ...,single,Cross_Lingual_Calibration,deu,5,FLORES_XSTS_2021_08
549,eng,eng,Using ships to transport goods is by far the m...,Shipping is the most efficient way to transpor...,mm,Cross_Lingual_Calibration,jpn,3,FLORES_XSTS_2021_08
933,eng,eng,The obvious way of flying in first or business...,The most obvious way to fly to a first destina...,mm,Cross_Lingual_Calibration,isl,3,FLORES_XSTS_2021_08
...,...,...,...,...,...,...,...,...,...
283,eng,eng,The road where the crash happened was temporar...,The road was temporarily closed while emergenc...,single,Cross_Lingual_Calibration,isl,3,FLORES_XSTS_2021_08
328,eng,eng,"Curtis Cooper, a mathematician and computer sc...","Curtis Cooper, a professor of mathematics and ...",single,Cross_Lingual_Calibration,isl,5,FLORES_XSTS_2021_08
653,eng,eng,There may be more maria on the near side becau...,God blesses Mary and gives her life as she lov...,m2m100,Cross_Lingual_Calibration,nso,1,Surrogate low-BLEU m2m model
604,eng,eng,Nature-based tourism attracts people intereste...,Nature tourism attracts people interested in v...,single,Cross_Lingual_Calibration,hau,4,FLORES_XSTS_2021_08
778,eng,eng,"The main local beer is 'Number One', it is not...","""The local alcoholic drink is known as 'Manta'...",single,Cross_Lingual_Calibration,hau,3,FLORES_XSTS_2021_08

# WRITE TO DISK

In [31]:
filename = "Cross_Lingual_Calibration_Set_v1.tsv"
if write_tsv:
    df_built.to_csv(write_dir+filename, sep='\t',)

readback and verify

In [32]:
df_verify = pd.read_csv(write_dir+filename, delimiter='\t').set_index('FLORES_ID')
df_verify

,sentence1_lang,sentence2_lang,sentence1,sentence2,model,dataset,backtranslation_lang,sampled_quality_score,quality_source
FLORES_ID,,,,,,,,,
882,eng,eng,Books and magazines dealing with wilderness su...,Libraries and magazines dealing with life even...,mm,Cross_Lingual_Calibration,hau,2,FLORES_XSTS_2021_08
229,eng,eng,Potro received treatment to his shoulder at th...,"At this point, Potro gained enthusiasm because...",mm,Cross_Lingual_Calibration,isl,2,FLORES_XSTS_2021_08
180,eng,eng,The final match of the series will take place ...,The final of the tournament will be held next ...,single,Cross_Lingual_Calibration,deu,5,FLORES_XSTS_2021_08
549,eng,eng,Using ships to transport goods is by far the m...,Shipping is the most efficient way to transpor...,mm,Cross_Lingual_Calibration,jpn,3,FLORES_XSTS_2021_08
933,eng,eng,The obvious way of flying in first or business...,The most obvious way to fly to a first destina...,mm,Cross_Lingual_Calibration,isl,3,FLORES_XSTS_2021_08
...,...,...,...,...,...,...,...,...,...
283,eng,eng,The road where the crash happened was temporar...,The road was temporarily closed while emergenc...,single,Cross_Lingual_Calibration,isl,3,FLORES_XSTS_2021_08
328,eng,eng,"Curtis Cooper, a mathematician and computer sc...","Curtis Cooper, a professor of mathematics and ...",single,Cross_Lingual_Calibration,isl,5,FLORES_XSTS_2021_08
653,eng,eng,There may be more maria on the near side becau...,God blesses Mary and gives her life as she lov...,m2m100,Cross_Lingual_Calibration,nso,1,Surrogate low-BLEU m2m model
604,eng,eng,Nature-based tourism attracts people intereste...,Nature tourism attracts people interested in v...,single,Cross_Lingual_Calibration,hau,4,FLORES_XSTS_2021_08
778,eng,eng,"The main local beer is 'Number One', it is not...","""The local alcoholic drink is known as 'Manta'...",single,Cross_Lingual_Calibration,hau,3,FLORES_XSTS_2021_08

In [33]:
df_verify[['sentence1','sentence2','sampled_quality_score']].head(20)

,sentence1,sentence2,sampled_quality_score
FLORES_ID,,,
882,Books and magazines dealing with wilderness su...,Libraries and magazines dealing with life even...,2
229,Potro received treatment to his shoulder at th...,"At this point, Potro gained enthusiasm because...",2
180,The final match of the series will take place ...,The final of the tournament will be held next ...,5
549,Using ships to transport goods is by far the m...,Shipping is the most efficient way to transpor...,3
933,The obvious way of flying in first or business...,The most obvious way to fly to a first destina...,3
676,The rise of new technologies allows us to see ...,This technology provides a comprehensive under...,1
820,"There are different ways of purifying water, s...",It has a narrow path toward the middle of the ...,1
32,"The researchers suggested that, even though th...","The researchers suggested that, despite being ...",3
580,The best indication of internal poisoning may ...,The best sign of internal poisoning may be an ...,5
1011,Workers must often get their superiors' approv...,Every child has the right to have his or her o...,1
896,"When you went abroad at first, people were pro...","When you first went abroad, people were probab...",5
557,Wagonways were built in England as early as th...,Railroads were built in England in the 16th ce...,2
819,Be careful not to allow fabric to become too h...,You can also use your own mobile device ( e.g....,1
670,"As a result, the process of an organization wo...","As a result, the process of a collaborative or...",2
964,The area is also home to an extremely wide var...,Environmental monitoring of pets with colored ...,2
792,Any amendments or requests though should be co...,Any repairs or requests will be processed by t...,3
647,The fission bomb works on the principle that i...,A neutron bomb works on the principle that it ...,4
646,One can only wonder what the keyboard will bec...,"He is the one who gives to the soul , the one ...",1
123,"The truck driver, who is aged 64, was not inju...","Mokumbi motuka , both of which have 64 mouths ...",1
200,"They include the Netherlands, with Anna Jochem...","""They included the Netherlands, while Anna Joc...",2

In [34]:
# confirm that everything imported correctly
print(f"number of mis-matched imports {df_built[~df_verify['sentence2'].isin(df_built['sentence2'])].shape[0]}")
assert df_built[~df_verify['sentence2'].isin(df_built['sentence2'])].shape[0] == 0
assert df_verify[~df_built['sentence2'].isin(df_verify['sentence2'])].shape[0] == 0

number of mis-matched imports 0